<input id="user_id" type="hidden" name="user_id" value="<%=session[:user_id]%>">
<header id="title-header">
  <div id="top-title">


    <li> <!-- left-side navbar search -->
      <form action="#" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input id="app-search-input" type="text" class="form-control" placeholder="Search for an App!">
        </div>
        <button type="button" class="btn btn-default" id="app-search-button"><span class="sort glyphicon glyphicon-search"></span></button>
      </form>
    </li>

    <!-- title -->
    <h1>ColorApp.in</h1>

    <!-- right side navbar -->
    <div class="navbar-form navbar-right custom-navbar-right">
      <ul>
        <%if session[:user_id]%> <!-- these appear if logged in -->
          <li><a href="/users/<%=session[:user_id]%>">My Profile</a></li>

          <li> <!--logout button-->
            <form action="/session" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
              <button title="Log out" id="logout-button"  type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span></button>
            </form>
          </li>
          
        <%else%> <!-- these appear if you're not logged in -->
          <li><a href="/users/new"> <button id="signup-button" type="submit" class="btn btn-default">Sign up</button></a></li>

          <li> <!-- log in -->
            <form action="/login" method="POST">
              <input type="text" name="email" placeholder="Email">
              <input type="password" name="password" placeholder="Password">
              <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
               <button title="Log in" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span></button>
            </form>
          </li>
        <%end%>
      </ul>
    </div>

  </div>


  <navbar id="navbar-links">
    <ul>
      <li><h5 class="navbar-links-item" id="navbar-home" > Home </h5></li>
      <li><h5 class="navbar-links-item" id="navbar-all-users" > All Users</h5></li> 
      <li><h5 class="navbar-links-item" id="navbar-about" href="#"> About </h5></li>
      <li><h5 class="navbar-links-item" id="navbar-contact" href="#"> Contact </h5></li>
      
      <!--template menu--> 
      <li> <!-- template menu - template show button -->
        <button title="Show/hide template menu" class="template-menu btn btn-default" id="template-menu-show"><span class="glyphicon glyphicon-phone"></button>
      </li>
      <li>
        <div class="template-menu invisible" id="template-menu">
          <!-- template menu - new button -->
          <button title="Show/hide template" type="button" class="btn btn-default" id="template-show-button"><span class="glyphicon glyphicon-plus "></span></button>
            
          <!-- template menu - save button -->
          <button title="Save as new template" type="button" class="btn btn-default" id="template-save-button"><span class="glyphicon glyphicon-save"></span></button>

          <!-- template menu - name this template -->
          <input id="template-name-input" class="hide" type="text" name="template_name" placeholder="Name this template!">

          <!-- template menu - select -->
          <select title="show previous templates" name="template_id" id="template-select"><!-- user id is session-->
            <%if templates%>
              <%templates.each do |t|%>
                <option value="<%=t['id']%>"><%=t.name%></option>
              <%end%>
            <%end%>
          </select>   <!-- template menu - template select button -->             
          <button title="Load selected template" class="btn btn-default" id="template-select-button"><span class="glyphicon glyphicon-folder-open"></span></button>
          
          <!-- template menu - template delete button -->
          <button class="btn btn-default"><span title="Delete selected template" class="glyphicon glyphicon-remove" id="template-delete-button"></span></button>
        </div>


      </li>
    </ul>




  </navbar>
</header>
<%= render 'home/navbar_sorting' %>



<h3 id="message-search"><span id="message-price">All</span> <span id="message-color"></span> <span id="message-genre"></span> <span id="message-view">apps</span></h3>





<div id="main-content-area">
  <img id="loading-circle" src='/images/spinner.gif'>
  
</div>

<%= render 'home/template_iphone' %>

