<input id="user_id" type="hidden" name="user_id" value="<%=session[:user_id]%>">


<%= render 'home/bootstrap_navbar' %>
<header id="title-header">
  <h1>ColorApp.in</h1>
  <navbar id="navbar-links">
    <ul>
      <li><h5 class="navbar-links-item" id="navbar-home" > Home </h5></li>
      <li><h5 class="navbar-links-item" id="navbar-all-users" > All Users</h5></li> 
      <li><h5 class="navbar-links-item" id="navbar-about" href="#"> About </h5></li>
      <li><h5 class="navbar-links-item" id="navbar-contact" href="#"> Contact </h5></li>
      <li>
        <select name="template_id" id="template-select"><!-- user id is session-->
          <%if templates%>
            <%templates.each do |t|%>
              <option value="<%=t['id']%>"><%=t.name%></option>
            <%end%>
          <%end%>
        </select>                
        <button id="template-show-button"> Show </button>
      </li>
    </ul>
  </navbar>
</header>
<%= render 'home/navbar_sorting' %>



<h3 id="message-search"><span id="message-price">All</span> <span id="message-color"></span> <span id="message-genre"></span> <span id="message-view">apps</span></h3>





<div id="main-content-area">
  <img id="loading-circle" src='/images/spinner.gif'>
  
</div>

<%= render 'home/template_iphone' %>

